spring:
  application:
    name: internet-connectivity-tracker

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
      base-path: /actuator
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  health:
    elasticsearch:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
      environment: ${ENVIRONMENT:local}

ict:
  probe:
    interval-ms: 1000       # 1 second default
    logging-debug: false    # enable DEBUG logs for probe subpackage when true
  elasticsearch:
    host: elasticsearch
    port: 9200
    scheme: http
    index: probe-results
  logstash:
    host: logstash
    port: 5044
