<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <springProperty scope="context" name="probeDebug" source="ict.probe.logging-debug" defaultValue="false"/>
    <springProperty scope="context" name="logstashHost" source="ict.logstash.host" defaultValue="logstash"/>
    <springProperty scope="context" name="logstashPort" source="ict.logstash.port" defaultValue="5044"/>

    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSX} %-5level [%thread] %logger{36} - %msg | reqId=%X{reqId:-} targetId=%X{targetId:-} probeId=%X{probeId:-} probeCycleId=%X{probeCycleId:-} seedRunId=%X{seedRunId:-}%n"/>
    <property name="LOG_FILE" value="${LOG_FILE:-logs/ict.log}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/ict.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>14</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <springProfile name="json-logs">
        <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <fieldName>@timestamp</fieldName>
                    </timestamp>
                    <pattern>
                        <pattern>
                            {
                            "level": "%level",
                            "thread": "%thread",
                            "logger": "%logger{36}",
                            "message": "%msg"
                            }
                        </pattern>
                    </pattern>
                    <mdc/>
                    <arguments/>
                    <stackTrace/>
                </providers>
            </encoder>
        </appender>

        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${logstashHost}:${logstashPort}</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <fieldNames>
                    <timestamp>@timestamp</timestamp>
                </fieldNames>
            </encoder>
        </appender>
    </springProfile>

    <logger name="me.paulbaur.ict" level="INFO"/>

    <if condition='property("probeDebug").equalsIgnoreCase("true")'>
        <then>
            <logger name="me.paulbaur.ict.probe" level="DEBUG"/>
        </then>
        <else>
            <logger name="me.paulbaur.ict.probe" level="INFO"/>
        </else>
    </if>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <springProfile name="json-logs">
        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
            <appender-ref ref="LOGSTASH"/>
        </root>
    </springProfile>
</configuration>
